<section class="card card-mw">
  <div class="card-body">
    <div class="d-flex flex-row">
      <img src="../../../../assets/images/Vector.png" class="image">
      <div class="pl-2">
        <p class="card-text m-0">Developed With Love By:</p>
        <h6 class="card-title m-0">Oleksandr Zderko</h6>
      </div>
    </div>
  </div>
</section>


<section class="catalog">
  <div class="card pb-2" *ngFor="let person of catalog">
    <div class="card-body pl-5 pr-5">
      <div class="catalog__container">
        <div class="catalog__container-image">
          <img class="catalog__container-image--image" src="{{person.avatar}}">
        </div>
        <div class=" catalog__container-logo">
          <img class="catalog__container-logo--image" src="../../../../assets/images/Vector2.png">
        </div>
      </div>
      <div class="catalog__texts-container">
        <div class="catalog__texts-container__text">
          <span class="text-uppercase">Id:</span>
          <span class="font-weight-bold">{{person.id}}</span>
        </div>
        <div class="catalog__texts-container__text">
          <span class="text-uppercase">Email:</span>
          <span class="font-weight-bold">{{person.email}}</span>
        </div>
        <div class="catalog__texts-container__text">
          <span class="text-uppercase">First_name:</span>
          <span class="font-weight-bold">{{person.firstName}}</span>
        </div>
        <div class="catalog__texts-container__text">
          <span class="text-uppercase">Last_name:</span>
          <span class="font-weight-bold">{{person.lastName}}</span>
        </div>
        <div class="catalog__texts-container__text">
          <span class="text-uppercase">Avatar:</span>
          <span class="font-weight-bold">{{person.avatar}}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page">
  <div *ngFor="let a of counter(totalPages); let i = index" (click)="loadPage(i + 1 == 1 ? undefined : i + 1)"  class="page__container">
    <div class="card pr-2 pl-2">
      <div class="card-body" [ngClass]="{active: currentPage === i + 1}">{{i + 1}}</div>
    </div>
  </div>
</section>
