$gray_rgb_color: rgba(122, 143, 165, 0.4);
$gray_color: #7A8FA5;


.card {
  border-radius: 6px;
  .card-body {
    padding: 9px !important;
  }
}

p {
  font-size: 20px;
}

h6 {
  font-size: 20px !important;
}
