@import "assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */

body {
  background: linear-gradient(270deg, #8FB1D3 0%, #8F96D3 100%), #8FB1D3;
  padding: 30px 10% 30px 10%;
}

.image {
  object-fit: contain;
  width: 21px;
  height: 33px;
}

.card-mw {
  max-width: 270px;
}

.catalog {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  grid-gap: 4%;
  margin-top: 20px;

  &__container {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
  }

  &__container-logo {
    position: absolute;
    top: 5px;
    right: 9px;
  }


  &__container-image {
    width: 92px;
    height: 92px;
    overflow: hidden;
    transform: rotate(45deg);

    &--image {
      position: relative;
      top: -18px;
      left: -18px;
      transform: rotate(-45deg);
    }
  }

  &__texts-container {
    &__text {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $gray_rgb_color;
      margin-bottom: 8px;
      
      span:first-child {
        color: $gray_color;
        font-size: 16px;
        padding-right: 15px;
      }

      span:last-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;

  &__container {
    margin-right: 10px;
    cursor: pointer;
  }
}

.active {
  color: gray;
  cursor: no-drop;
}
